.container{
    padding: 30px; /*espacio para el texto*/
    width: 950px; /*tamaño grande para que contenga los demás elementos*/
    background-color: silver;/*color del fondo de este bloque, lo mismo para los demas colores*/
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    margin-right: 15px; /*margen a la derecha*/
    background-color: blue;
    display: inline-block; /*Para que puedan moverse los bloques y alinearse*/

}
.main {
    padding: 15px;
    height: 400px;
    width: 700px;
    background-color: red;
    vertical-align: top;
    display: inline-block;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin-right: 15px;
    display: inline-block;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 30px;
}
